.Wrapper {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    color: #1D1F22;
}

@media (min-width: 576px) {
    .Wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .Wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .Wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .Wrapper {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .Wrapper {
        max-width: 1320px;
    }
}

