.Wrapper {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    color: #1D1F22;
}

@media (min-width: 576px) {
    .Wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .Wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .Wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .Wrapper {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .Wrapper {
        max-width: 1320px;
    }
}

.HeaderNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    height: 28px;
}

.HeaderNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.HeaderNav ul {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.HeaderNav ul li {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.HeaderNav ul a {
    color: #1D1F22;
    text-decoration: none;
    padding: 28px 10px;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}

.HeaderNav ul a:hover,
.HeaderNav ul a:active,
.HeaderNav ul a.active {
    border-bottom: 1px solid #5ECE7B;
    color: #5ECE7B;
    
}

@media (min-width: 500px) {
    .HeaderNav ul {
        flex-flow: row;
    }
}